@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
html,
body {
	height: 100%;
}
html {
	font-size: 16px; /* по умолчанию */
}
body {
	line-height: 1;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
}
/* ------------------------------ */
body {
	background: #EEE8AA;
}
main {
    max-width: 1200px;
	margin: 0 auto;
	background: #FFFAFA;
}
.block1, .block2 , .block3 {
	display: inline-block;
	width: 33%;
	height: 300px;
	border-radius: 20px;
	margin: 0 0 50px 0;
}
.block1 {
	background: #FF0000;
	box-shadow: -5px 5px 10px #000, 0 0 10px #000 inset
}
.block2 {
	background: #00FF00;
	box-shadow: 0 0 10px #000 inset, 0 5px 10px #000
}
.block3 {
	background: #0000FF;
	box-shadow: 5px 5px 10px #000, 0 0 10px #000 inset
}
.block4 {
	width: 100%;
	height: 300px;
	background: url(../img/25cd265e8180.jpg);
	border-radius: 20px 40px;
	margin: 0 0 50px 0;
}
.block5, .block6 {
	display: inline-block;
	width: 49.8%;
	height: 400px;
	border-radius: 20px;
	margin: 0 0 50px 0;
}
.block5 {
	background: url(../img/chrome.png) 0 0/10% repeat-x, url(../img/ie.png) 0 100%/10% repeat-x, url(../img/safari.png) 0 50%/10% repeat-x, url(../img/tor.png) 25% 25%/10% no-repeat, url(../img/opera.png) 75% 75%/10% no-repeat, #4B0082
}
.block6 {
	background: url(../img/tor.png) 50% 0/10% repeat-y, url(../img/chrome.png) 0 0/10% no-repeat, url(../img/ie.png) 100% 0/10% no-repeat, url(../img/safari.png) 0 100%/10% no-repeat, url(../img/firefox.png) 100% 100%/10% no-repeat, url(../img/opera.png) 25% 50%/10% no-repeat, url(../img/opera.png) 75% 50%/10% no-repeat, #4B0082
}
.block7, .block8 {
	display: inline-block;
	width: 49.8%;
	height: 400px;
	border-radius: 10px;
	margin: 0 0 50px 0;
}
.block7 {
	background: linear-gradient(180deg, rgba(0,12,36,1) 0%, rgba(114,9,121,1) 54%, rgba(241,255,0,1) 100%);
}
.block8 {
	background: radial-gradient(circle, rgba(11,90,247,1) 28%, rgba(121,9,9,1) 59%, rgba(11,219,217,1) 92%);
}
.block9 {
	width: 100%;
	height: 700px;
	background: url(../img/pexels-ben-cheung-715134.jpg) 50% no-repeat fixed;
	margin: 0 0 50px 0;
}
.block10 {
	width: 100%;
	height: 700px;
	background: url(../img/douu2cc18uoy.jpg) 50%/contain no-repeat;
	border: 1px solid #000;
	margin: 0 0 50px 0;
}
.block11 {
	width: 100%;
	height: 700px;
	background: url(../img/douu2cc18uoy.jpg) 50%/cover no-repeat;
	border: 1px solid #000;
	margin: 0 0 50px 0;
}
.block12 li { 
	font-size: 24px;
	line-height: 32px;
	margin: 0 0 10px 0;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background: url(../img/free-icon-eye-5695789.png) 0 0 no-repeat, url(../img/free-icon-eye-5695789.png) 100% 0 no-repeat;
	padding: 0 0 0 50px;

}
.block12 {
	margin: 0 0 50px 0;
}
.block13 {
	width: 237px;
	height: 199px;
	border: 1px solid #000;
	color: #4B4B4B;
	margin: 0 auto 50px auto;
	font-size: 14px;
	line-height: 20px;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 0.15px;
}
.block13 span {
	line-height: 22px;
	text-transform: uppercase;
	font-weight: 700;
	display: inline-block;
	margin: 0 0 28px 0;
}
.block13 li {
	padding: 0 0 0 42px;
}
.place {
	background: url(../img/place_24px.png) 0 2px no-repeat;
	margin: 0 0 16px 0;

}
.mobile {
	background: url(../img/smartphone_24px.png) 0 2px no-repeat;
	margin: 0 0 16px 0;
}
.email {
	background: url(../img/email_24px.png) 0 2px no-repeat;
	margin: 0 0 17px 0;
}
.timer {
	background: url(../img/timer_24px.png) 0 2px no-repeat;
}
.block14 {
	background: url(../img/BG1.png) 0 0 /cover no-repeat;
	width: 1060px;
	height: 566px;
	margin: 0 auto 150px auto;
	padding: 126px 0 0 40px;
}
.block14 h2 {
	font-size: 56px;
	line-height: 56px;
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	color: #fff;
	max-width: 583px;
	margin: 0 0 48px 0;
	
}
.block15 {
	width: 211px;
	height: 48px;
	padding: 9px 0;
	background: url(..//img/Group\ 7.png) 0 0 no-repeat;
}
.block15 li {
	background: url(../img/arrow_forward_24px.png) 94% 60% no-repeat;
	font-size: 12px;
	line-height: 24px;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	letter-spacing: 0.15px;
	text-transform: uppercase;
	color: #fff;
	padding: 4px 0 0 22px;

}
.block16 {
	min-height: 600px;
	background: url(../img/overlay\ image.png) 0 100px/cover no-repeat, url(../img/Image1.png) 0 100px/cover no-repeat;
	padding: 0 0 0 130px;
	font-family: 'Roboto', sans-serif;
}
.block17 {
	margin:  0 0 75.87px 0;
}
.block18, .block19 {
	display: inline-block;
}
.block18 {
	max-width: 411px;
	margin: 0 111px 0 0;
	padding: 180px 0 0 0;
}
.block18 ul {
	margin: 0 0 32px 0;
}
.block18 li {
	font-size: 12px;
	line-height: 24px;
	font-weight: 700;
	letter-spacing: 2.5px;
	text-transform: uppercase;
	color: #D5D5D5;
	background: url(../img/Overline\ Mark.png) 0 0 no-repeat;
	padding: 3px 0 0 40px;
}
.block18 h2 {
	font-size: 36px;
	line-height: 42px;
	color: #fff;
	font-weight: 900;

}
.block21 {
	display: inline-block;
	width: 237px;
	margin: 0 22px 0 0;
	padding: 4px 0 0 0;
}
.block22, .block23, .block24, .block25, .block26 {
	display: inline-block;
}
.block22, .block23, .block24, .block25 {
	margin: 0 11px 0 0;
	width: 76px;
	height: 76px;
}
.block22 {
	background: url(../img/car_oil-24x.png) 0 0 no-repeat;
}
.block23 {
	background: url(../img/car_transmission_24x.png) 0 0 no-repeat;
}
.block24 {
	background: url(../img/car_alignment_24x.png) 0 0 no-repeat;
}
.block25 {
	background: url(../img/car_engine_2_24x.png) 0 0 no-repeat;
}
.block26 {
	width: 140px;
	vertical-align: top;
}
.block26 span {
	font-size: 36px;
	line-height: 42px;
	font-weight: 900;
	color: #C40B0B;
	display: block;
	margin: 0 0 3px 0;
}
.block26 p {
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.15px;
	color: #F5F5F5;
	margin: 0 0 3px 0;
}
